/* src/pages/home.css */

.home-dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 8rem);
  gap: 1rem;
  padding: 1rem;
  background-color: #111;
  color: #fff;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  box-sizing: border-box;
}

.dashboard-card {
  background: #1e1e1e;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 100px;
  box-shadow: 0 0 8px #1e1e1e;
  transition: transform 0.2s;
}

.dashboard-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

.icon {
  font-size: 4rem; /* Larger icon */
  color: #66b2ff;
  height: 75%; /* 75% of card height */
  flex-shrink: 0;
  margin-right: 25px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.info h3 {
  margin: 0;
  font-size: 25px;
  color: #ccc;
}

.info p {
  margin: 0.2rem 0 0;
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
}

/* Responsive: 2 columns */
@media (max-width: 768px) {
  .home-dashboard {
    grid-template-columns: repeat(2, 1fr);
  }
}
